*{
    margin:0;
    padding:0;
}

#navbar{
    display:flex;
    position:sticky;
    align-items:center;
    top:0;
}

#navbar::before{
    content:"";
    background-color:black;
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    z-index:-1;
    opacity:0.4;

}

#navbar ul{
    list-style:none;
    display:flex;
    gap:30px;
    padding-left:30px;
    align-items:center;
    justify-content:start;
    height:60px;
}

#navbar ul a{
    text-decoration:none;
    color:rgb(255, 255, 255);
}

#body{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:start;
    height:340px;

}

#body::before{
    content:"";
    position:absolute;
    background-image:url(food-web-background-navbar.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    height:400px;
    width:100vw;
    top:0;
    left:0;
    z-index:-1;
    opacity:0.75;
}

#body p{
    position:relative;
    margin-top:18px;
    margin-left:400px;
    font-size:25px;
    font-style:italic;
    font-weight:650;
    color:rgb(89, 67, 67);

}

#body h1{
    color:rgb(56, 39, 39);
    padding-top:30px;
    font-size:48px;
    font-weight:800;
}
#body button{
    margin-top:50px;
    padding:10px 20px;
    font-size:25px;
    font-weight:650;
    background-color:rgb(255, 87, 34);
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

#categories{
    display:flex;
    width:100%;
    flex-direction:row;
    flex-wrap:wrap;
    height:1200px;
}

#categories::before{
    content:"";
    position:absolute;
    top:400px;
    left:0;
    background-image:url(background-image-cards-section.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
    height:1200px;
    width:100vw;
    z-index:-1;
    opacity:0.85;

}

.card{
    background-color:rgb(100, 94, 94);
    width:300px;
    height:400px;
    padding:10px;
    border:4px solid black;
    margin:20px 80px;
    text-align:center;
    font-family:'Courier New', Courier, monospace;
    overflow-wrap:break-word;
    border-radius:10px;
    box-shadow:5px 10px 10px rgb(0,0,0,0.6);
    transition:box-shadow 0.3s ease-in;

}

.card:hover{
    box-shadow:5px 10px 10px rgb(0,0,0,0.75);
}
.card p{
    padding:5px;
    margin:2px;
}

.card img{
    width: 100%;
    height: 220px;        /* fixed height for all cards */
    object-fit: cover;   /* crop, don’t stretch */
    border-radius: 8px;
    margin-top: 10px;
}


