.container{
    display:flex;
    background-color:blue;
    gap:20px;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:start;
    


}
.card{
    flex:1;
    max-width:300px;
    width:300px;
    min-width:200px;
    height:40vh;
    background-color:red;
    

}
.special{
    background-color:black;
}